@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --animate-shine: shine var(--duration, 2s) infinite linear;
  --animate-rippling: rippling var(--duration, 0.6s) ease-out;
  --animate-pulse-opacity: pulse-opacity 2s ease-out infinite;
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(-45deg);
  }
  100% {
    transform: translateX(100%) rotate(-45deg);
  }
}

@keyframes rippling {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes pulse-opacity {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}
