@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  html,
  body {
    min-height: 100%;
    overflow-x: hidden;
  }

  /* Reset global para botões */
  button {
    cursor: pointer;
  }

  @media (min-width: 1024px) {
    /* 2. Configuração da Barra */
    ::-webkit-scrollbar {
      background-color: transparent;
    }

    /* 3. O Trilho (Track) */
    ::-webkit-scrollbar-track {
      width: 12px;
      background-color: #0a0a0b;
    }

    /* 4. O Botão (Thumb) - Onde a mágica acontece */
    ::-webkit-scrollbar-thumb {
      background-color: #c5a47e;
      border-radius: 10px; /* Bordas arredondadas */
      border: 6px solid transparent; /* Cria um padding visual */
      background-clip: content-box; /* Garante que o fundo não saia da borda */
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #b2936f;
    }
  }
}

/* Força o container do Sonner a ser absoluto quando dentro do seu wrapper */
[data-sonner-toaster] {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none; /* Permite clicar no que está atrás se necessário */
}

/* Garante que os toasts individuais possam ser clicados */
[data-sonner-toast] {
  pointer-events: auto;
}
